''.quest-info {
  position: relative;
  top: -10px;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0 5px;
}

#quest-challanges-carousel {
  .carousel-control {
    width: 10%;
    color: black;

    &.left {
      background-image: none;

      &:hover {
        background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .1) 0), color-stop(rgba(0, 0, 0, .0001) 100%));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .0001) 100%);
      }
    }

    &.right {
      background-image: none;

      &:hover {
        background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, .0001) 0), color-stop(rgba(0, 0, 0, .1) 100%));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .1) 100%);
      }
    }
  }

  .challenge-headline {
    margin: 0 10px;
    h4 {
      margin-bottom: 0;
    }
  }

  .challenge-description {
    margin: 5px 20px 40px;

    p {
      margin-right: 25px;
      margin-left: 25px;
      text-align: justify;
    }
  }

  .carousel-indicators {
    bottom: 0;

    li, .active {
      border-color: black;
    }
  }
}

#vote-panel {
  .thumbnail {
    background-color: #eee;
  }

  img {
    margin-bottom: 5px;
  }
}

.challenge-info-small {
  font-size: 85%;
  color: gray;
}

.quest-submissions {
  table {
    margin-bottom: 5px;

    & > tbody > tr > td {
      padding: 2px 0;

      &:first-child {
        width: 55px;
      }
    }
  }

  button {
    margin: 0 auto;
    display: block;
  }
}

#participateInChallenge {
  .alert {
    margin-bottom: 10px;
    padding: 5px;
  }

  .quest-participate {
    padding: 0 5px;

    a {
      font-size: 2em;
      margin-bottom: 10px;
    }
  }
}

#mainLeaderboard {
  min-width: 100%;
  width: 100%;
  height: 350px;
  overflow: hidden;

  .vertical-text {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
    width: 16px;
    margin: 0 auto;
    white-space: nowrap;
  }

  .table-container {
    position: relative;
    overflow: hidden;
    border-width: 0px;
    width: 100%;
    height: 100%;

    .fixed-header {
      position: absolute;
      z-index: 505;
      background-color: white;
      width: auto;
      max-width: none;
    }

    .fixed-rows, .non-fixed-header {
      position: absolute;
      z-index: 501;
      background-color: white;

      table {
        position: relative;
      }
      tbody {
	      border-right: 2px solid #ccc;
      }
    }

    .scroller {
      overflow: auto;
      height: 100%;
    }
  }

  #leaderboard-not-fixed table {
    table-layout: fixed;
  }

  .fixed-offset {
    margin-left: 230px;
    width: auto
  }

  .col-rank {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
  }
  .col-participant-name {
    width: 230px;
    min-width: 230px;
    max-width: 230px;
        white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .col-role {
    width: 85px;
    min-width: 85px;
    max-width: 85px;
  }
  .col-points {
    width: 75px;
    min-width: 75px;
    max-width: 75px;
  }
  .col-quest-label {
    width: 35px;
    min-width: 35px;
    max-width: 35px;
  }

  .table {
    margin-bottom: 0;
  }

  .leaderboard-header-row {
    height: 100px;
    th {
      vertical-align: bottom;
    }
  }
}

#leaderboard-notification {
  display: block;
  position: fixed;
  top: 50px;
  width: 100%;
  text-align: center;
  padding: 8px 35px 8px 8px;
  z-index: 800;
  color: #8a6d3b;
  font-weight: bold;

  button.close {
    z-index: 801;
  }
}

.mobile #leaderboard-notification {
  top: 78px;
}

